
/* Sayfa boşlukları */
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: red;
    background: url(/resimler/bg.gif)no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}
#sayfa{
    width: 900px;
    border-style: solid;
    border-width: 1px;
    height: 680px;
    margin: auto;

}
/*Banner*/
#banner{
    width: 900px;
    height: 100px;
    border-style: dotted;
    border-width: 1px;
    margin: auto;
    background-color: white;
}

/*LOGO*/
#LOGO{
    width: 80px;
    height: 80px;
    border-style: dotted;
    border-width: 1px;
    background-color:darkgreen;
    position: relative;
    top: 10px;
    left: 10px;
    float: left;
}

/*sosyal medya ikonları*/
#sosyal{
    width: 200px;
    height: 50px;
    border-style:solid;
    border-width: 3px;
    background-color:white;
    border-color: white;
    float: right;
    position: relative;
    top: 30px;
    right: 10px;
    
}
#ikon{
    float: left;
    margin-left: 10px;
}
/* Ana Menü */
#anamenü{
    width: 900px;
    height: 100px;
    border-style: dotted;
    border-width: 1px;
    margin: auto;
    background-color:aqua;
}
#anamenü ul{
   list-style-type: none;
}
#anamenü ul li{
    text-decoration: none;
    border-style: solid;
    border-width: 3px;
    width: 100px;
    border-radius: 8px;
    border-color: rebeccapurple;
    float: left;
    padding: 10px;
    margin-left: 80px;
    position: relative;
    top: 30px;
    text-align: center;
}
#anamenü ul a{
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    font-weight: bolder;
    color:darksalmon;
    font-size: 15px;
}
#anamenü ul a:hover{
   border-style: ridge;
   border-color:orangered;
}
#anamenü ul a:active{
    color: red;
}
/* İçerik */
#içerik{
    width: 600px;
    min-height: 400px;
    border-style: dotted;
    border-width: 1px;
    background-color: white;
    float: left;
    font-family:sans-serif;
    font-size: 15px;
}
#yanmenü{
    width: 296px;
    min-height: 400px;
    border-style: dotted;
    border-width: 1px;
    background-color:darkorange;
    float: left;

}
.bruh{
    float: left;
    width: 300px;
    margin: 10px;
}
.başlık{
    font-size: 20px;
    color:mediumspringgreen;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Alt Menü */
#altmenü{
    width: 900px;
    min-height: 100px;
    border-style: dotted;
    border-width: 1px;
    background-color:mediumspringgreen;
    float: left;
    text-align: center;
}
#altmenü a{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    font-weight: bolder;
    color: black;
    
}
#altmenü a:hover{
    text-decoration: none;
    color: khaki;
}
    
    